@import "./src/common/styles/sass/variables";

.tags {
  display: flex;
  flex-wrap: wrap;
  object-fit: cover;
  padding-bottom: 10px;
  justify-content: space-around;
  width: 100%;
  color: $mainColor;

  .singleTag {
  }
}


