@import "./src/common/styles/sass/variables";

.app {
  background: #243238;
  //min-height: 100vh;
  //min-width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  min-height: 100vh;
}


.appHeader {
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: $backgroundColor3;
  font-size: calc(10px + 2vmin);
  color: white;

}

.table {
  display: flex;
  background-color: aquamarine;
}
