
 //салатовый вариант
//$mainColor: #a3c700;
 //еще1 1
$mainColor: #72af30;;
$secondColor: whitesmoke;
$backgroundColor1:#2d3f47;
$backgroundColor2: #243238;

//вырвиглазный вариант красный
//$mainColor: #c70039;
//$secondColor: whitesmoke;
//$backgroundColor1:#2d3f47;
//$backgroundColor2: #243238;
//синий
//$mainColor: #27a7de;
//$secondColor: whitesmoke;
//$backgroundColor1:#2d3f47;
//$backgroundColor2: #243238;