
 //салатовый вариант
//$mainColor: #a3c700;
 //еще1 1
$mainColor: #3f51b5;
$secondColor: #f5f5f5;
$backgroundColor1:#2d3f47;
$backgroundColor2: #243238;
 $backgroundColor3: #30add2;

//вырвиглазный вариант красный
//$mainColor: #c70039;
//$secondColor: whitesmoke;
//$backgroundColor1:#2d3f47;
//$backgroundColor2: #243238;

//синий
//$mainColor: #27a7de;
// $mainColor: #3f51b5;
//$secondColor: whitesmoke;
//$backgroundColor1:#2d3f47;
//$backgroundColor2: #243238;